body {
    background-color: A3C8D9;
}

.top-of-page {
    padding: 2rem 2rem;
    background-color:00ADBE;
    margin-bottom: 0;
}

.info-and-stats {
    padding:10px;
}
#number-to-match, #score-card {
    background-color:C0EBFF;
    text-align:center;
}

#random-number, #current-score {
    font-size: 80px;
}

.wins-and-losses {
    text-align: center;
    font-size: 40px;
    background-color: 58B3BF;
    margin: 0 10px;
}

.gems-and-score {
    padding:10px;
}


img {
    width: 25%;
    float:left;
}

img:hover {
    cursor: pointer;
}